---
template: main.template
---
<div class="post"> 
  <h2>{title${project_issue_url}</h2>
  <div class="details">Posted by {author${project_issue_url} on {created_at${project_issue_url} </div>
  <webgen:block name='content'/>
  <% if context.node.node_info[:page].blocks.has_key?('full_story') %>
    <webgen:block name='full_story' />
  <% end %>
</div>
